* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #112b03, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #222;
}

.subtitle {
    text-align: center;
    color: #777;
    margin: 8px 0 25px;
}

/* Input */

.input-box {
    display: flex;
    gap: 10px;
}

.input-box input {
    flex: 1;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.input-box button {
    padding: 0 22px;
    border: none;
    border-radius: 10px;
    background: #667eea;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.input-box button:hover {
    background: #5568d8;
}

/* Search */

.search {
    width: 100%;
    padding: 13px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

/* Stats */

.stats {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    gap: 10px;
}

.stats div {
    flex: 1;
    text-align: center;
    background: #f5f6fa;
    padding: 15px;
    border-radius: 12px;
}

.stats span {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #667eea;
}

.stats small {
    color: #777;
}

/* Tasks */

#taskList {
    list-style: none;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f8f8f8;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.task-text {
    flex: 1;
    font-size: 16px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

/* Buttons */

.task button {
    border: none;
    padding: 7px 10px;
    border-radius: 7px;
    cursor: pointer;
}

.edit {
    background: #ffd166;
}

.delete {
    background: #ef476f;
    color: white;
}

.check {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Mobile */

@media (max-width: 500px) {

    .container {
        padding: 20px;
    }

    .input-box {
        flex-direction: column;
    }

    .input-box button {
        padding: 12px;
    }

    .stats {
        gap: 5px;
    }

    .stats div {
        padding: 10px 5px;
    }
}